<% f = BootstrapFormBuilder.new(f, self) %>
<%= f.group :name do %>
  <%= f.label :name, '件名' %>
  <%= f.text_field :name, required: true %>
  <% f.object.errors.full_messages_for(:name).each do |message| %>
    <div class="form-control-feedback"><%= message %></div>
  <% end %>
<% end %>
<div class='form-group'>
  <%= f.label :description, '説明' %>
  <%= f.text_area :description, class: 'form-control', rows: 4 %>
</div>
<div class='form-group'>
  <label class='custom-control custom-checkbox'>
    <%= f.check_box :all_day, class: 'custom-control-input' %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">終日</span>
  </label>
</div>
<div class='form-group hidden-if-all-day'>
  <%= f.label :starts_at, '開始日時' %>
  <%= render 'datetime_picker', f: f, attr_name: :starts_at %>
</div>
<div class='form-group hidden-if-all-day'>
  <%= f.label :ends_at, '終了日時' %>
  <%= render 'datetime_picker', f: f, attr_name: :ends_at %>
</div>
<div class='form-group visible-if-all-day'>
  <%= f.label :starts_on, '開始日' %>
  <%= render 'date_picker', f: f, attr_name: :starts_on %>
</div>
<div class='form-group visible-if-all-day'>
  <%= f.label :ends_on, '終了日' %>
  <%= render 'date_picker', f: f, attr_name: :ends_on %>
</div>
